<div class="row my-3">
  <div class="col-9 col-sm-9 offset-sm-1">
    <ol class="timeline">
      <li><%= comment.content %></li>
    </ol>
  </div>
  <div class="col-12 col-sm-2">
    <ul class="list-inline">
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-secondary" %>
      </li>
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>
