<div class="container">
  <div class="row">
    <div class="">
      <ul class="list-inline">
        <div>
          <%= comment.content %>
        </div>
        <li class="list-inline-item btn btn-link">
          <%= link_to 'Edit', edit_comment_path(comment) %>
        </li>
        <li class="list-inline-item btn btn-link">
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      </ul>
    </div>
  </div>
</div>
