<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>All Tasks</h1>
      <% @tasks.each do |task| %>
        <div class="container">
          <div class="row">
            <div class="card my-5">
              <div class="card-header">
                <h1><%= link_to task.name, task %></h1>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <%= task.deadline %>
                  <ul class="list-inline">
                    <li class="list-inline-item btn btn-link">
                      <%= link_to 'Edit', edit_task_path(task) %>
                    </li>
                    <li class="list-inline-item btn btn-link">
                      <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" } %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
