.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
  margin: 0 0.5rem 0 1rem;
}

.row-striped:nth-of-type(even){
  background-color: #aaaaaa;
  border-left: 4px #000000 solid;
  margin: 0 0.5rem 0 1rem;
}

.row-striped {
  padding: 15px 0;
  margin-bottom: 10px;
}

// by https://bootsnipp.com/snippets/VgzeR
