// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.bilbo-font {
  font-family: 'Bilbo', cursive;
  font-size: 1.5rem;
}
